{% block title %}<title> Liked - {{ session.login.prenom }}</title>{% endblock %}

{% block body %}
    <a href="/liked/{{ session.login.id }}">You like</a>
    <a href="/like/{{ session.login.id }}">You'r liked by</a>

    {% if likes['0'] is defined  %}
            {% for like in likes %}
                <h1>{{ like.userliked }}</h1>
            {% endfor %}
        {% else %}
        <h1>Vous n'aimez personne</h1>
    {% endif %}
{% endblock %}