{% block title %}HeartPlane{% endblock %}

    <a href="/Liked/{{ session.login.id }}">You like :</a>
    <a style="position: absolute;left: 10%;" href="/Like/{{ session.login.id }}">You'r liked by :</a>
