{% extends "Like/LikeIndex.html.twig" %}
{% block title %}<title> Liked - {{ parent() }}</title>{% endblock %}

{% block body %}
    {{ dump() }}
{% if likes !='' %}
    {% for like in likes %}
        <h1>Un Like</h1>
    {% endfor %}
    {% else %}
    <h1>Vous n'aimez personne</h1>
{% endif %}
{% endblock %}