<!DOCTYPE html>
<html style="background-image: url(&quot;/uploads/images/fern-1082040.jpg&quot;);background-size: cover;background-repeat: no-repeat;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>accueil</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #046336;">
    <div class="container-fluid"><a class="navbar-brand" href="#"><img src="/uploads/images/logo%20seul.png" style="margin: -5px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1" style="margin: 0 70px -25px 70px;">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><img src="/uploads/images/glasses.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/Chat/{{ session.login.id }}"><img src="/uploads/images/message.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/notification/{{ session.login.id }}"><img src="/uploads/images/bell.png" style="width: 28px;"></a></li>
            </ul>
        </div><a href="#"><img></a></div>
</nav>
<header style="background-color: rgba(255,255,255,0.49);margin: 20px auto;height: 49px;width: 327px;filter: brightness(100%);color: rgb(0,0,0);"><select style="height: 36px;margin: 0px;"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select><a href="#"><img src="/uploads/images/map.png" style="width: 28px;"></a>
    <a
            href="#"><img src="/uploads/images/filter.png" style="width: 28px;"></a>
</header>
<section style="height: 100%;width: 90%;margin: auto auto;background-color: rgba(32,32,32,0.68);padding: 20px;"><a href="#" style="margin: 25px;"><img style="width: 168px;height: 217px;"></a><a href="#" style="margin: 25px;"><img style="width: 168px;height: 217px;"></a><a href="#" style="margin: 25px;"><img style="width: 168px;height: 217px;"></a><a href="#"
                                                                                                                                                                                                                                                                                                                                                                style="margin: 25px;"><img style="width: 168px;height: 217px;"></a></section>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>