{% extends "BasicLayout.html.twig" %}
{% block title %} Liste des utilisateurs - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Connection</h1>
    </div>
{% endblock %}