<!DOCTYPE html>

<html lang="en">




<head>

    <meta charset="UTF-8">

    <title>HeartPlane - Connexion</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="/css/styleconnexion.css">

</head>




<body id="connexion">

<div class="content">

    <div class="container">


        {% if session.errorlogin is defined %}
            <div class="alert alert-danger"
                 style="position: absolute;
            width:90%;
            top:15px;
            left:5%;
            border-radius: 10px;
            border-width: 1px;
            border-style: solid">
                <p style="text-align: center">{{ session.errorlogin }}</p>
            </div>
        {% endif %}


        <div class="menu">

            <a href="Login" class="btn-connexion">

                <h2>Se Connecter</h2>

            </a>

            <a href="inscription" class="btn-enregistrer
active">

                <h2>S'inscrire</h2>

            </a>

        </div>

        <div class="connexion">

            <form class="contact-form" name="connexion" method="post" action="/Login">

                <label>Identifiant</label>

                <input required name="email" placeholder="" type="text">


                <label>Mot de passe</label>

                <input required name="password" placeholder="" type="password">

                <div class="check">

                    <label>



                        <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="23px">

                            <path class="path-back"
                                  d="M1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6">

                            </path>

                            <path class="path-moving"
                                  d="M24.192,3.813L11.818,16.188L1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6">

                            </path>

                        </svg>

                    </label>

                    <h3>Restez connecté</h3>

                </div>

                <input class="submit" value="Connexion" type="submit">

            </form>

            <hr>

            <form class="contact-form" name="passforget" method="post" action="/Login">
                <input type="submit" name="passforget" value="Mot de passe Oublié ? ">
            </form>

            </a>

        </div>



    </div>


</body>




</html>