<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md" style="background-color: #046336;">
    <div class="container-fluid"><a class="navbar-brand" href="#"><img src="../uploads/images/logo%20seul.png" style="margin: -5px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1" style="margin: 0 70px -25px 70px;">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><img src="../uploads/images/glasses.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/Chat/{{ session.login.id }}"><img src="../uploads/images/message.png" style="width: 28px;margin: 0 16px 0 0;"></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/notification/{{ session.login.id }}"><img src="../uploads/images/bell.png" style="width: 28px;"></a></li>
            </ul>
        </div><a href="#"><img></a></div>
</nav>
<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <p class="text-center"></p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../uploads/images/desk.jpg"><img class="img-fluid" src="../uploads/images/desk.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../uploads/images/.jpg"><img class="img-fluid" src="../uploads/images/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../uploads/images/loft.jpg"><img class="img-fluid" src="../uploads/images/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../uploads/images/building.jpg"><img class="img-fluid" src="../uploads/images/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../uploads/images/loft.jpg"><img class="img-fluid" src="../uploads/images/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../uploads/images/desk.jpg"><img class="img-fluid" src="../uploads/images/desk.jpg"></a></div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/assets/js/theme.js"></script>
</body>

</html>